.gdsw-table {
    width: 100%;
}

.gdsw-table .tdleft {
    text-align: left;
    vertical-align: top;
    padding-top: 4px;
}

.gdsw-table .tdright {
    text-align: right;
    vertical-align: top;
}

.gdsw-input-text {
    width: 200px;
}

.gdsw-input-number {
    width: 60px;
    text-align: right;
}

.gdsw-table-split {
    border-top: 2px solid #add8e6;
    width: 100%;
    margin-top: 3px;
    padding-top: 3px;
}

.gdsw-info {
    font-size: 8px;
    font-style: italic;
}

.gdr-plugin-update {
    text-align: left;
    padding: 0 !important;
    margin: 0 !important;
}

.gdr-plugin-update-message {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    margin: 5px;
    padding: 4px 6px;
    background-color: #f5f5f5;
    border: 1px solid #CC0000;
    font-size: 11px;
}
